@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

/* Custom placeholder styling */
.custom-placeholder::placeholder {
  color: #0e54cd; /* Placeholder color */
  font-size: 0.875rem; /* Placeholder font size */
  padding-left: 1rem; /* Placeholder padding */
}
.custom-quill .ql-editor strong {
  color: #525151; /* Change this to your desired shade of gray for bold text */
}
.custom-quill .ql-editor {
  padding: 0 !important;
  margin: 0 !important;
  color: #201f1f;
  font-size: 0.9rem;
  line-height: 1.6;
}

.custom-quill .ql-container {
  border: none;
}

/* Base font size for the entire application */
html {
  font-size: 14px; /* Default font size */
}

/* Small screens (e.g., mobile phones) */
@media screen and (max-width: 640px) {
  html {
    font-size: 14px; /* Smaller font size for small screens */
  }
}

/* Medium screens (e.g., tablets) */
@media screen and (min-width: 641px) and (max-width: 1024px) {
  html {
    font-size: 14px; /* Default font size for medium screens */
  }
}

/* Large screens (e.g., desktops) */
@media screen and (min-width: 1025px) {
  html {
    font-size: 16px; /* Larger font size for big screens */
  }
}

/* Apply relative font sizes to elements */
body {
  font-size: 1rem; /* 1rem will equal the font-size set on the html element */
}

table {
  font-size: 0.875rem; /* Slightly smaller font for tables */
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

/* Add more element-specific styles as needed */
/* Custom Scrollbar for WebKit Browsers */
::-webkit-scrollbar {
  width: 6px; /* Adjust the width */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(
    0,
    0,
    0,
    0.2
  ); /* Custom color for the scrollbar thumb */
  border-radius: 10px; /* Rounded edges */
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1); /* Track background color */
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slideDown {
  animation: slideDown 0.5s ease-out;
}
